html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4855+0,32373c+36,101518+100;ep2019 */
background: rgb(63,72,85); /* Old browsers */
background: -moz-linear-gradient(top, rgba(63,72,85,1) 0%, rgba(50,55,60,1) 36%, rgba(16,21,24,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(63,72,85,1) 0%,rgba(50,55,60,1) 36%,rgba(16,21,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(63,72,85,1) 0%,rgba(50,55,60,1) 36%,rgba(16,21,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4855', endColorstr='#101518',GradientType=0 ); /* IE6-9 */

}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
