.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


.overflow-hidden { overflow: hidden; }


}

body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252b33+0,1d2023+36,0a0d0e+100 */
background: rgb(37,43,51); /* Old browsers */
background: -moz-linear-gradient(top, rgba(37,43,51,1) 0%, rgba(29,32,35,1) 36%, rgba(10,13,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(37,43,51,1) 0%,rgba(29,32,35,1) 36%,rgba(10,13,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(37,43,51,1) 0%,rgba(29,32,35,1) 36%,rgba(10,13,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252b33', endColorstr='#0a0d0e',GradientType=0 ); /* IE6-9 */

}