html,
body {
  height: 100%;
}

body {

background: #2f363b; /* navegadores antiguos */
background: -moz-linear-gradient(top, #2f363b 0%, #171819 100%); /* Firefox 3+*/
background: -webkit-linear-gradient(top, #2f363b 0%,#171819 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2f363b 0%,#171819 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f363b', endColorstr='#171819',GradientType=0 ); /* IE6-9 */

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 150px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


