<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="generator" content="Los dedos de mi mano">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <title>Elecciones Panamá 2019 - Easter Egg</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bd.css') }}">
    </head>
    <body>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <img src="{{ url_for('static', filename='fotos/bd.png') }}" height="250" width="250" style="filter: invert(100%);"/>
                <blockquote class="blockquote text-right">
                    <p class="mb-0">
                        La unica privacidad que queda, es la que está en nuestras mentes
                    </p>
                    <footer class="blockquote-footer">Pelicula: <cite title="Enemigo Publico">Enemigo Publico</cite></footer>
                </blockquote>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>Marco Ameglio</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/1.jpg') }}">
                            <div class="card-body">
                                {% for cedula in ma %}
                                {% if cedula["candidato"] == "Marco Ameglio" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>José Isabel Blandon</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/2.jpg') }}">
                            <div class="card-body">
                                {% for cedula in jb %}
                                {% if cedula["candidato"] == "José Isabel Blandon" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>Laurentino Cortizo</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/3.jpg') }}">
                            <div class="card-body">
                                {% for cedula in lc %}
                                {% if cedula["candidato"] == "Laurentino Cortizo" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>Ana Matilde Gomez</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/4.jpg') }}">
                            <div class="card-body">
                                {% for cedula in ag %}
                                {% if cedula["candidato"] == "Ana Matilde Gomez" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>Ricardo Lombana</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/5.jpg') }}">
                            <div class="card-body">
                                {% for cedula in rl %}
                                {% if cedula["candidato"] == "Ricardo Lombana" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>Saúl Mendez</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/6.jpg') }}">
                            <div class="card-body">
                                {% for cedula in sm %}
                                {% if cedula["candidato"] == "Saúl Mendez" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h4>Rómulo Roux</h4>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="{{ url_for('static', filename='fotos/7.jpg') }}">
                            <div class="card-body">
                                {% for cedula in rr %}
                                {% if cedula["candidato"] == "Rómulo Roux" %}
                                <ul>
                                    <li>{{ cedula["id"] }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Ir Arriba</a>
    </p>
    <p>Easter Egg | Poll507</p>
    <p>Poll507 by Ariel</p>
  </div>
</footer>
