<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/candidatos.css') }}">
    <title>Elecciones Panamá 2019 - Lista de candidatos a votar</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body class="text-center">

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <center><img src="{{ url_for('static', filename='fotos/escudopty.svg') }}" height="90" width="90" style="filter: grayscale(100%) contrast(100%) drop-shadow(1px 1px 30px #FFFFFF56);"/></center>
    <p class="lead">Candidatos a la presidencia de Panamá 2019.</p>
    <div class="alert alert-dismissible alert-warning fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Recuerde!</h4>
        <p class="mb-0">Elegir a conciencia y solo se puede votar una sola vez por persona.</p>
    </div>
</div>
<div class="container">
   <div class="card-deck">
       {% for candidato in encdata %}
       {% if loop.index == loop.length %} <!-- detectamos si es el ultimo candidato -->

            <!-- Meto un CARD transparente brujon para correr a el ultimo candidato al centro !  -->
            <div class="card bg-transparent border-0" style="max-width: 18rem;">
            </div>
            <!-- Meto un CARD transparente brujon para correr a el ultimo candidato al centro !  -->

            <div class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                <form class="form-signin" action="/votar/{{ candidato['id'] }}" method="post">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal">{{ candidato["nombre"] }}</h5>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" style="height: 200px; width:200px;"  src="{{ url_for('static', filename='fotos/')}}{{ loop.index }}.jpg">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ candidato["partido"] }}</li>
                        </ul>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">VOTAR</button>
                    </div>
                </form>
            </div>
       {% else %}
            <div class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                <form class="form-signin" action="/votar/{{ candidato['id'] }}" method="post">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal">{{ candidato["nombre"] }}</h5>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" style="height: 200px; width:200px;" src="{{ url_for('static', filename='fotos/')}}{{ loop.index }}.jpg">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ candidato["partido"] }}</li>
                        </ul>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">VOTAR</button>
                    </div>
                </form>
            </div>
       {% endif %}
       {% endfor %}
    </div>

    <footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Encuesta hecha por <a href="/">POLL507</a>, by Ariel Ortega.</p>
    </div>
    </footer>

</div>
</body>
</html>