<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="generator" content="Los dedos de mi mano">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inicial.css') }}">
        <title>Elecciones Panamá 2019</title>
        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
          }
        </style>
    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

            <center><img src="{{ url_for('static', filename='fotos/escudopty.svg') }}" height="150" width="150" style="filter: grayscale(100%) contrast(100%) drop-shadow(1px 1px 30px #FFFFFF56);"/></center>
            <br>
            <main role="main" class="inner cover">
                <div class="jumbotron" width="150" height="150">
                    <h1 class="display-3">Elecciones Panamá 2019</h1>
                    <p class="lead">Esta es una simulación de voto para candidatos a la presidencia de Panamá.</p>
                    <hr class="my-4">
                    <p>Recuerde votar a conciencia , esto nos sirve para evaluar quien podría ser un posible trending en las proximas elecciones en MAYO.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/cedularegistro" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Iniciar</a>
                    </p>
                </div>
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Encuesta hecha por <a href="https://poll507.com/">POLL507</a>, by Ariel Ortega.</p>
                </div>
            </footer>
        </div>
</body>
</html>