<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="mis dedos">
    <title>Elecciones Panamá 2019 - Registre su cédula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body class="text-center">
    <form class="form-signin" action="/listacandidatos" method="post">
        <img class="mb-4" src="{{ url_for('static', filename='fotos/escudopty.svg') }}" width="72" height="72" style="filter: grayscale(100%) contrast(100%) drop-shadow(1px 1px 30px #FFFFFF56);"/>
        <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
        <p class="text-primary">Para emitir su voto, favor de registrar su cédula.</p>
        <input type="text" class="form-control" name="cedula" id="cedula" placeholder="Introducir su cédula">
        {{ incorrectid|safe }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
        <p class="mt-5 mb-3 text-muted">Poll507&copy; 2019</p>
    </form>
</body>
</html>