<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="generator" content="Los dedos de mi mano">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


        <!-- Aqui uso CANVAS JS para los graficos resultados -->
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.canvasjs.min.js') }}"></script>
        <!-- Aqui uso CANVAS JS para los graficos resultados -->

        <title>Elecciones Panamá 2019 - Nosotros</title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
              }
        </style>
        <!-- SCRIPT PARA EL CANVAS JS -->
        <script>
            window.onload = function ()
            {
                var options = {
                    backgroundColor: "transparent",
                    title: {
                        text: "{{ titulo }}",
                        fontColor: "white",
                    },
                    subtitles: [{
                        text: "Resultados",
                        fontColor: "white"
                    }],
                    animationEnabled: true,
                    legend: {
                        fontColor: "white"
                    },
                    data: [{
                        type: "doughnut",
                        startAngle: 60,
                        yValueFormatString: "##0.00\"%\"",
                        toolTipContent: "<b>{label}</b>: { y }",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}",
                        indexLabelFontColor: "white",
                        dataPoints: [
                            {% for candidato in resultado %}
                                {% if loop.index == loop.length %}
	                                { y: {{ candidato["votos"] }} * 100/{{total}}, label: "{{ candidato["nombre"] }}" }
                                {% else %}
	                                { y: {{ candidato["votos"] }}* 100/{{total}}, label: "{{ candidato["nombre"] }}" },
	                            {% endif %}
	                        {% endfor %}
                        ]
                    }]
                };
                $("#chartContainer").CanvasJSChart(options);
            }
        </script>
        <!-- SCRIPT PARA EL CANVAS JS -->

    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                     <center><img src="{{ url_for('static', filename='fotos/escudopty.svg') }}" height="70" width="70" style="filter: grayscale(100%) contrast(100%) drop-shadow(1px 1px 30px #FFFFFF56);"/></center>
                </div>
            </header>

            <div id="chartContainer" style="height: 250px; width: 100%;"></div>
            <br>
            <br>
            <br>
            <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Candidato</th>
                  <th scope="col">Partido Politico</th>
                  <th scope="col">Cantidad de votos</th>
                </tr>
              </thead>
              <tbody>
              {% for candidato in resultado2 %}
                  {% if loop.index == 1 %}
                      <tr class="table-success">
                          <th scope="row" style="color: black;">{{ candidato["nombre"] }}</th>
                          <td style="color: black;">{{ candidato["partido"] }}</td>
                          <td style="color: black;">{{ candidato["votos"] }}</td>
                          <td ><span class="badge badge-success" style="color: black;">GANADOR</span></td>
                      </tr>
                  {% else %}
                        <tr>
                        <th scope="row">{{ candidato["nombre"] }}</th>
                        <td>{{ candidato["partido"] }}</td>
                        <td>{{ candidato["votos"] }}</td>
                    </tr>
                  {% endif %}
              {% endfor %}
              </tbody>
            </table>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Encuesta hecha por <a href="/">POLL507</a>, by Ariel Ortega.</p>
                </div>
            </footer>
        </div>
</body>
</html>